[mysqld]
character-set-server=utf8mb4
slow_query_log         = 1
slow_query_log_file    = /var/log/mysql/slow.log
long_query_time = 0

# https://qiita.com/ihsiek/items/11106ce7a13e09b61547
# ここの設定を参考 キャッシュはOFF(2はDEMAND. SELECT SQL_CACHE のみキャッシュする)
query_cache_type = 2
query_cache_limit = 32M
query_cache_size = 32M


innodb_buffer_pool_size = 1200M
innodb_log_file_size = 64M
innodb_flush_log_at_trx_commit = 2

log_error_verbosity = 1

innodb_buffer_pool_dump_pct  = 100
innodb_buffer_pool_dump_at_shutdown= 1
innodb_buffer_pool_load_at_startup = 1

#https://qiita.com/zaburo/items/65bac3b8e0a635ada68c
join_buffer_size = 300M
read_buffer_size = 300M
sort_buffer_size = 300M
read_rnd_buffer_size = 400M